

img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: block;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* sfondo scuro semi-trasparente */
    z-index: 1000;
  }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: yellow;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1001; 
    width: 90vh;
    max-height: 90vl;
    overflow: auto;
  }

  .button-back{
    position:absolute;
    left:38%;
    background:none;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: 20px;
  }

  .reset-message{
    background:none;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: 22px;
    text-align: center;
 }

 .reset-button{
    position:fixed;
    top: 85%;
    left: 35%;
    background:none;
    color:white;
    border-color: white;
    border-radius: 25px;
    font-size: 32px;
 }

  .search-button{
    position:fixed;
    top: 65%;
    left: 35%;
    background:none;
    color:white;
    border-color: white;
    border-radius: 25px;
    font-size: 32px;
  }

  .newcat-button{
    position:fixed;
    top: 75%;
    left: 32%;
    background:none;
    color:white;
    border-color: white;
    border-radius: 25px;
    font-size: 32px;
  }



  .title{
    font-size: 50px;
    color: white;
    position:fixed;
    left:42%;
    top:4%;
}
