.catimg{
  position:relative;
  width: 40vw;
  height: 40vh;
  top:20vh;
}


.page-wrapper {
  width: 98vw;
  height: 95vh;
  background-image: url('/catMenu.png');
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  position: relative;
}


img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: block;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
  }

.modal {
    background-color: yellow;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1001; 
    max-width: 55vw;
    max-height: 80vh;
    overflow: hidden;
    position: fixed;          
  top: 50%;                 
  left: 50%;              
  transform: translate(-50%, -50%); 
  }


  .newmodal {
    background-color: yellow;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1001; 
    max-width: 55vw;
    max-height: 80vh;
    overflow: hidden;
    position: fixed;          
  top: 50%;                 
  left: 50%;              
  transform: translate(-50%, -50%); 
  }

   .resetmodal {
    background-color: yellow;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1001; 
    max-width: 55vw;
    max-height: 80vh;
    overflow: hidden;
    position: fixed;          
  top: 50%;                 
  left: 50%;              
  transform: translate(-50%, -50%); 
  }

  .button-back{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    background:none;
    color:black;
    border-color: black;
    border-radius:clamp(9px, 6vw, 15px);
    font-size:clamp(12px, 6vw, 18px);
  }

  .reset-message{
    background:none;
    color:black;
    border-color: black;
    border-radius: clamp(16px, 2.5vw, 32px);
    font-size: clamp(16px, 2.5vw, 32px);
    text-align: center;
 }

 .reset-button{
    position:absolute;
    bottom: 5vh;
    left: 35vw;
    background:none;
    color:white;
    border-color: white;
    border-radius: clamp(16px, 2.5vw, 32px);
    font-size: clamp(16px, 2.5vw, 32px);
 }

  .search-button{
    position:absolute;
    bottom: 25vh;
    left: 35vw;
    background:none;
    color:white;
    border-color: white;
    border-radius: clamp(16px, 2.5vw, 32px);
    font-size: clamp(16px, 2.5vw, 32px);
  }

  .newcat-button{
    position:absolute;
    bottom: 15vh;
    left: 32vw;
    background:none;
    color:white;
    border-color: white;
    border-radius: clamp(16px, 2.5vw, 32px);
    font-size: clamp(16px, 2.5vw, 32px);
  }



  .title{
    font-size: clamp(22px, 2.5vw, 34px);
    color: white;
    position:fixed;
    left:42%;
    top:4%;
}
