.carousel-navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    transition: transform 0.1s;
    color: white;
    cursor: url('/catCursor.png'), auto;    
  }


  .carousel-navigation-button-selected {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: gray;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    transition: transform 0.1s;
    color: red;
    cursor: url('/catCursor.png'), auto;
    
  }

 
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 50%;
    z-index: 10; 
}

ul>li {
  display: inline-block;
  margin-right: 10px;
}


.click-zone {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 50%;
  height: calc(100% - 30px);
  cursor: url('/catCursor.png'), auto;
}

  .left-zone {
    left: 0;
  }

  .right-zone {
    right: 0;
  }

.carousel-indicator {
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center; 
  

}

.carousel-indicator ul {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

  .carousel-container{
    border: 2px solid black;
  }


.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;   
  width: 36vw;        
  max-width: 1000px;     
  margin: 0 auto;        
}
.image-container {
  position: relative;
  width: 100%;           
  aspect-ratio: 4 / 3;   
  border-radius: 25px;
  border: 2px solid black;
  overflow: hidden;
  box-sizing: border-box;
}

.cat-image {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  border-radius: 25px;
  display: block;
}

.click-zone {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;                     
  z-index: 2;
  cursor: url('/catCursor.png'), auto;
}
.left-zone { left: 0; }
.right-zone { right: 0; }


.bottom-overlay-zone {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 40px;                  
  padding: 0 16px;
  display: flex;
  justify-content: center;          
  align-items: center;
  gap: 16px;
  background: rgba(0,0,0,0.5);
  z-index: 3;
  box-sizing: border-box;
}


.carousel-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}
.carousel-indicator ul {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

  
  .bottom-overlay-zone {
    position: absolute;
    bottom: 0px; 
    left: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2; 
}
  
  .vote-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: url('/catCursor.png'), auto;
    width: 32px;
    height: 32px;
    background: white;
    color: black;
    transition: transform 0.2s ease;

  }
  

