.carousel-navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    transition: transform 0.1s;
    color: white;
    cursor: url('/catCursor.png'), auto;    
  }

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .carousel-navigation-button-selected {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: gray;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    transition: transform 0.1s;
    color: red;
    cursor: url('/catCursor.png'), auto;
    
  }

 
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 50%;
    z-index: 10; 
}

ul>li {
  display: inline-block;
  margin-right: 10px;
}


.click-zone {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 50%;
  height: calc(100% - 30px);
  cursor: url('/catCursor.png'), auto;
}

  .left-zone {
    left: 0;
  }

  .right-zone {
    right: 0;
  }
.carousel-indicator {
  margin-top: 10px;
}

.carousel-indicator ul {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

  .carousel-container{
    border: 2px solid black;
    border-radius: 25px;
  }
  
.cat-image {
  width: 320px;           /* larghezza fissa */
  height: 320px;          /* altezza fissa */
  object-fit: cover;      /* ritaglia l’immagine per riempire il contenitore */
  border-radius: 25px;
  display: block;
}
  
  .image-container {
  display: block; /* invece di inline-block */
  margin: 0 auto; /* centra orizzontalmente */
  width: 320px;
  height: 320px;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  border: 2px solid black;
  overflow: hidden;
  }


  
  .bottom-overlay-zone {
    position: absolute;
    bottom: 0px; 
    left: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2; 
}
  
  .vote-button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: url('/catCursor.png'), auto;
    width: 32px;
    height: 32px;
    background: white;
    color: black;
    transition: transform 0.2s ease;

  }
  

