.cat-modal{
     background-color: yellow;
     
}

    .add-button {
    all: unset;
    margin:3vw;
   // display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    width: 3vw;
    height: 3vh;
    background: white;
    color: black;
    transition: transform 0.2s ease;

  }

  .button-back{
    background:none;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: clamp(12px, 6vw, 24px);
    text-align: center;
  }

  .ty-page{
    text-align: center;
  }
  
  .container{
    position:relative  
  }

  .submit-div{
    position: absolute;
    right: 1vw;
    bottom: 1vh;
  }


  .submit-button{
    background:none;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: clamp(16px, 6vw, 28px);;
  }

  .foto-caricata{
    width: 10vw;
    height: 10vh;
  }
  .foto-container {
  height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;         
          
    position: relative;
    padding: 12px;
    box-sizing: border-box;
}

.foto-wrapper{
     position: relative;
}

.catname {
  size: "2";
}

.catbio {
  resize: none;
  width:"50px";
}

.remove-icon {
position: absolute;
  top: 6px;
  right: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  cursor: url('/catCursor.png'), auto;
  line-height: 22px;
  text-align: center;
  padding: 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.upload-frame {
    width: 10vw;
    height: 10vh;
    border: 2px dashed black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: url('/catCursor.png'), auto;
    transition: border-color 0.3s;
  }



