.cat-modal{
     background-color: yellow;
     
}

.titolo{
  text-align: center;
  top:2vh;
  font-size: clamp(10px, 3vw, 16px);
  white-space: nowrap;
}

.titolo-sottosezione{
  text-align: center;
  top:10vh;
}


    .add-button {
    all: unset;
    margin:3vw;
   // display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    display: none;
    width: 3vw;
    height: 3vh;
    background: white;
    color: black;
    transition: transform 0.2s ease;

  }

  .button-back{
    background:none;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: clamp(12px, 6vw, 24px);
    text-align: center;
  }

  .ty-page{
    text-align: center;
  }
  
  .container{
    position:relative  
  }

  .container-sottosezione{
     display: flex;
  justify-content: center; 
  align-items: center;    
  width: 100%;            
  }

  .submit-div{
  display: flex;
  justify-content: center; 
  align-items: center;     
  width: 100%;
  margin-top: 2vh;
  }

.input{
  width: 50vw;
  font-size: clamp(12px, 2.5vw, 18px);
  padding: 0.5em;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, -50%); 

}
  .submit-button{
    background:none;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: clamp(16px, 6vw, 28px);
  }

  .foto-caricata{
    width: 10vw;
    height: 10vh;
  }

  .foto-container {
  height: 20vh;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;         
          
    position: relative;
    padding: 12px;
    box-sizing: border-box;
}

.foto-wrapper{
     position: relative;
}

.catname {
  size: "2";
}

.catbio {
  resize: none;
  width:"50px";
}

.remove-icon {
position: absolute;
  top: 1px;
  right: 1px;
  background-color: none;
  border: none;
  border-radius: 50%;
  width: clamp(5px, 3vw, 22px);  
  height: clamp(5px, 3vw, 22px);
  font-size: 30px;
  cursor: url('/catCursor.png'), auto;
  line-height: 22px;
  text-align: center;
  padding: 0;
  box-shadow: 0 0 2px none;
}

.upload-frame {
    width: 10vw;
    height: 10vh;
    border: 2px dashed black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: url('/catCursor.png'), auto;
    transition: border-color 0.3s;
  }



