.card{  
  width: 320px;
}

.warning{
    text-align: center;
}

.bio-container {
  width: 130px;               /* larghezza fissa */
  height: 150px;              /* altezza fissa */
  overflow: hidden;           /* nasconde il contenuto che sfora */
  text-overflow: ellipsis;   /* aggiunge "..." se il testo è troppo lungo */
  white-space: normal;       /* consente il ritorno a capo */
  word-wrap: break-word;     /* spezza parole lunghe */
  font-size: clamp(9px, 6vw, 15px);
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.superlike{
    object-fit: cover;
    position: relative;       
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.like{
    
    width: 70px;                    
    
}

.dislike{
    width: 70px;                  
    object-fit: cover;
    text-align: center;
}

 .rewatch-button{
    background:none;
    position:relative;
    left:20%;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: 20px;
  }

  .warning-skipped{
    position:absolute;
    top: 40%;
    left: 25%;
    font-size: 22px;
  }

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* spazio tra card e bio */
  flex-wrap: nowrap; /* evita che vadano a capo */
                
  }
  
  