
.warning{
  font-size: clamp(12px, 6vw, 22px);
  display: flex;
  justify-content: center;
  text-align: center;
}


.rewatch-button {
  position: absolute;              
  transform: translateX(-20%);
  border-radius:clamp(9px, 6vw, 15px);
  font-size:clamp(9px, 6vw, 15px);
}


.wrapper {
  display: flex;
  justify-content: center;
  
}


.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; 
  flex-wrap: nowrap;    
  display: block;
  }
  

.bio-container {
  
  font-size: clamp(16px, 6vw, 24px);
  display: flex;
  justify-content: center;
  text-align: center;
}

.bio-container {
  display: flex;
  justify-content: center;
  text-align: center;
}


.superlike{
    object-fit: cover;
    position: relative;       
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.like{
    
    width: 70px;                    
    
}

.dislike{
    width: 70px;                  
    object-fit: cover;
    text-align: center;
}

 .rewatch-button{
    background:none;
    position:relative;
    left:20%;
    color:black;
    border-color: black;
    border-radius: 25px;
    font-size: 20px;
  }

  .warning-skipped{
    position:absolute;
    top: 40%;
    left: 25%;
    font-size: 22px;
  }

  .name{
    position:absolute;
    left: 40%;
    top: 0%;
  }


  