* {
    box-sizing: border-box;
    overflow: hidden;
  }

  html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
    border-radius: 25px;
    width: 98vw;
    height: calc(100vh - 20px);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 0; /* oppure un valore che non superi lo spazio disponibile */
    border: none; /* oppure incluso nel calcolo */
  }

#marco{
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    }

#cielo{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  #0B4C5F 0%,#04B4AE 52%,#0c0207 100%); 
    position: absolute;
    overflow: hidden;
    z-index: -30;
    top: 0;
    box-sizing: border-box;
    }

#edificios{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526533/eva/edificiosOne_fsg7nx.svg');
    height: 500px; 
    max-height: 100%;
    width: 100%;
    z-index: -10;
    bottom:0;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    -webkit-animation: animar_edificios 120s linear infinite;
    -ms-animation: animar_edificios 120s linear infinite;
    -moz-animation: animar_edificios 120s linear infinite;
    animation:  animar_edificios 120s linear infinite;
    position: absolute;
    box-sizing: border-box;
    }

/* Animacion edificios */

   @keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    @-webkit-keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    @-ms-keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    @-moz-keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
   
#luna {
    width: 6em;
    height: 6em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #F7F8E0;
    -webkit-box-shadow: 30px 10px 0 #F7F8E0;
    box-shadow: 30px 10px 0 #F7F8E0;
    margin-top: 1em;
    margin-left: 50%;
    position: absolute;
    z-index: -19;
    box-sizing: border-box;
    }

#muro{
    overflow: hidden;
    height: 15.5em;
    width: 100%;
    max-height: 100%;
    background: -moz-linear-gradient(top,  #416663 0%, #0c0207 19%); 
    background: -webkit-linear-gradient(top,  #416663 0%,#0c0207 19%); 
    background: linear-gradient(to bottom,  #416663 0%,#0c0207 19%); 
    bottom:0px; 
    box-sizing: border-box;
    }

#gato{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
    height: 297px; 
    width: 507.5px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 2em;
    margin-left: 2em;
    z-index: -1;
    -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
    -moz-animation: sprite-animation 1.2s steps(16,end) infinite; 
    -ms-animation: sprite-animation 1.2s steps(16,end) infinite; 
    animation: sprite-animation 1.2s steps(16,end) infinite;
    box-sizing: border-box;
    }

@-webkit-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; } 
    }

@-ms-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@-moz-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }
    
